*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  height: 100vh;
  background: darkblue;
}

main{
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

#canvasContainer{
  width: 480px;
  height: 480px;
}

.pixel{
  width: auto;
  background: white;
}

.pixel:hover{
  background: black;
}